.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#pokeBox {
  padding: 5ex 5ex 5ex 5ex;
  text-align: center;
}
img {
  width: 100%;
}
